@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Noto Sans KR", serif;
  background-color: #d7d7d7;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
}
